:root {
  --primary: #e16c00;
  --bg: #e7e6ed;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #e16c00;
}

/* Navbar tetap di atas */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(8, 8, 8, 0.89);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #315a72;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #7866d6;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scalex(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scalex(0.5);
}

.navbar .navbar-extra a {
  color: #e16c00;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
  color: #080808;
  padding: 0 20px;
  /* Tambahkan margin agar tidak tertutup navbar */
  margin-top: 50px;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: Linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

/* Teks di dalam hero */
.hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000; /* atau warna lain sesuai desain */
  padding: 1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.2rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero h1,
.hero p {
  position: relative;
  z-index: 2; /* teks di atas overlay */
  color: rgb(26, 25, 25);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.hero p {
  font-size: 1.3rem;
  max-width: 600px;
  line-height: 1.3;
}

/* Responsif */
@media (max-width: 768px) {
  .hero {
    min-height: 60vh;
    padding: 0 5%;
  }

  .hero h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .hero {
    background-attachment: scroll;
  }
}

/* About Section */
.about,
.menu,
.contact {
  padding: 6rem 7% 1.2rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: #315a72;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.about .row .about-img {
  flex: 1 1 45%;
  max-width: 90%;
  text-align: center;
}

.about .row .about-img img {
  width: 100%;
  height: auto;
  display: block;
}

.about .row .contant {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .content {
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: justify;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

.menu p {
  font-size: 1.3rem;
}

/* Menu Section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.menu-card {
  text-align: center;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 50%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #315a72;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/* Media Queries */

/* DESKTOP MODE */
@media (min-width: 769px) {
  #hamburger-menu {
    display: none;
  }

  .navbar .navbar-nav {
    display: flex;
    position: static;
    background: none;
    height: auto;
    width: auto;
  }

  .navbar .navbar-nav a {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.2rem;
    color: #e16c00;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* Mobile Phone */
/* HANYA MOBILE */
@media (max-width: 768px) {
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #e7e6ed;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #315a72;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

/* LOGIN FULLSCREEN */
#login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.login-box {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #f85a04;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}

#error-msg {
  color: red;
  margin-top: 10px;
}
